body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: inherit;
}

div {
    font-family: inherit;
}

*::-webkit-scrollbar { display: block; }
*::-webkit-scrollbar-button { display: none; padding: 1rem; background-color: rgba(0, 0, 0, .25); border: 1px solid rgba(0, 0, 0, .45); }
*::-webkit-scrollbar-track {  }
*::-webkit-scrollbar-track-piece { display: block; background-color: rgba(0, 0, 0, .15); }
*::-webkit-scrollbar-thumb { display: block; background: rgba(0, 0, 0, .45); }
*::-webkit-resizer { display: none; }

.link {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
}

a:visited, a:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
}

#root .wrap svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
}

#root .wrap #Stars, #root .wrap #Sky {
    bottom: unset;
    top: 0;
    width: auto;
    min-height: 100vh;
}

@media screen and ( max-width: 749px ) {
    @supports (-webkit-touch-callout: none) {
        #root .wrap #Stars, #root .wrap #Sky {
            bottom: auto;
            min-height: 100vh;
            top: 6rem;
            width: auto;
            transform: scale(2.5);
        }
    }
}
@media screen and ( min-width: 749px ) {
}

@media screen and ( min-width: 990px ) {
}

.top-connect {
    position: absolute;
    z-index: 12;
    right: 0.5rem;
    top: 1rem;
}

@media screen and ( min-width: 749px ) {
    .top-connect {
        right: 1rem;
        top: 1.5rem;
    }
}

.Navigation {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100vw;
    justify-content: center;
    bottom: 2rem;
}

.Navigation ul {
    padding: 0;
}

@media screen and ( min-width: 749px ) {
    .Navigation {
        bottom: unset;
    }    
}

.Navigation ul {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    column-gap: 2rem;
}

.floating {
    display: flex;
    z-index: 9;
}

.Home {
    display: flex;
}

.Page {
    height: 100%;
}

/* svg elements */

.BG {
    position: absolute;
}

#Sky {
    z-index: 0;
    position: absolute;
}

#root .wrap #Moon {
    max-width: 120px;
    z-index: 9;
    position: absolute;
    bottom: unset;
    top: 100px;
    left: 100px;
}

#Stars {
    z-index: 0;
    position: absolute;
    transition: all 200ms ease-in-out;
}

.first {
    left: 100px!important;
}

.second {
    left: 200px!important;
}

.thisMoon {
    position: relative;
    z-index: 0;
}

.bg-Ice {
    position: absolute;
    bottom: 20vh;
    height: 100vh;
    left: 0;
    width: 100vw;
}
.moveStars {
    position: absolute;
}

@media screen and ( min-width: 749px ) {

    .bg-Ice {
        position: absolute;
        bottom: -10vh;
        height: 100vh;
        left: 0;
        width: 100vw;
    }

    #root .wrap #Moon {
        max-width: 160px;
        z-index: 9;
        position: absolute;
        bottom: unset;
        top: 0px;
        left: 10rem!important;
    }
}

.Base {
    position: relative;
    z-index: 9;
    height: 100vh;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: hsla(0,0%,78.4%,.15);
    box-shadow: 0 6px 8px rgb(10 10 10 / 17%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1rem;
    border: 1px solid hsla(0,0%,100%,.18);
    padding: 2.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 0 3rem;
    width: 600px;
    max-width: 70vw;
}

.responsive {
    width: 100%;
    height: auto;
}

.button, button {
  appearance: none;
  border: none;
  font-family: Helvetica, ui-rounded;
  background-image: linear-gradient(to right, #3898FF, #7A70FF);
  display: inline-flex;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  padding: 0 24px;
  border-radius: 9999px;
  align-items: center;
  color: white;
  transition: all ease 100ms;
}

button:not(:disabled):hover {
  transform: scale(1.04)
}

button[data-mint-loading="true"] {
  background: rgba(22, 25, 31, 0.24);
  color: white;
}

button[data-mint-started="true"] {
  background-image: linear-gradient(270deg, #FF6257, #FF5CA0);
  position: relative;
}

  button[data-mint-started="true"]::after {
    animation-name: pulse;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-color: #FF6257;
    border-radius: inherit;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

button[data-mint-done="true"] {
   opacity: 0;
   transform: scale(0.85);
}

[aria-labelledby="rk_connect_title"] > div:nth-child(2), [aria-labelledby="rk_account_modal_title"] > div:nth-child(2) {

    background-color: hsla(0,0%,78.4%,.15);
    box-shadow: 0 6px 8px rgb(10 10 10 / 17%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1rem;
    border: 1px solid hsla(0,0%,100%,.18);
    /*padding: 2.5rem;*/
    color: #fff;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);

}

.thisMoon {
    position:relative;
    z-index: 0;
    transition: opacity 900ms ease-in-out, transform 900ms ease-in-out;
}

.moveStars > #Stars {
    transition: opacity 900ms ease-in-out, transform 900ms ease-in-out;   
}

.moveStars.minting > #Stars {
    opacity: 0.35;
    transform: scale(0.8);
    transform-origin: top center;
}

.Mint.minting { 
    opacity: 1;
}

.thisMoon.minting { 
    opacity: .45;
    z-index: 9;
    transform: scale(0.90);
    transform-origin: top left;
}

.Base.minting { 
    opacity: 1;
}

.container {
    transition: transform 900ms ease-in-out;
}

.container.minting { 
    transform: scale(1.15) translate(-50%, -50%);
    transform-origin: top left;
}

.Button.minting { 
    opacity: 1;
}


.bg-Ice {
    transition: bottom 900ms ease-in-out, opacity 900ms ease-in-out;
}

.bg-Ice.minting { 
    opacity: 0.45;
    bottom: -18vh;
}

.psych {
    transform: scale(.35);
    left: -50%;
    height: 160vh;
    opacity: 0;
    min-height: 130vh;
    position: absolute;
    left: 0;
    min-width: 160vw;
    z-index: 1;
    transition: opacity 2000ms linear, transform 2000ms linear;
    width: 200vw;
}

.psych.minting {
    transform: scale(1);
    left: 0%;
    top: -10%;
    opacity: 1;
}

/* wallet connect */

button.iekbcc0.iekbcc9.ju367vfx.ju367v11.ju367v90 {
    height: 100px;
}

body > div:nth-child(3) > div > div > div._9pm4ki5.ju367va.ju367v10.ju367v8g > div > div > div > div > div:nth-child(2) > div > div.iekbcc0.ju367vb6.ju367va.ju367v6f.ju367v7z._1am14410 > div {
    overflow-y: hidden;
    overflow-x: scroll;
}

body > div:nth-child(3) > div > div > div._9pm4ki5.ju367va.ju367v10.ju367v8g > div > div > div > div > div:nth-child(2) > div > div.iekbcc0.ju367vb6.ju367va.ju367v6f.ju367v7z._1am14410 > div > div:nth-child(1) > div > button > div > div.iekbcc0.ju367va.ju367v10.ju367v2n > div {
    display: none;
}

body > div:nth-child(3) > div > div > div._9pm4ki5.ju367va.ju367v10.ju367v8g > div > div > div > div > div:nth-child(2) > div > div.iekbcc0.ju367v70.ju367v7l.ju367v89 > div > button {
    height: 45px;
}

body > div:nth-child(3) > div > div > div._9pm4ki5.ju367va.ju367v10.ju367v8g > div > div > div > div > div:nth-child(2) > div > div.iekbcc0.ju367vb6.ju367va.ju367v6f.ju367v7z._1am14410 > div > div > div > button > div > div.iekbcc0.ju367va.ju367v10.ju367v2n > h2 span {
    white-space: nowrap;
}

[data-rk] > div:nth-child(2) > div > div {
    border: none!important;
}

.connect > div > button:first-child {
    display: none!important;
}

#eGWSNMe473i1 {
    z-index: 9;
}










